.lead {
  margin: 80px auto 0;
  max-width: 720px;
  padding: 0 20px;
  text-align: center;
  box-sizing: border-box;
}

.lead__title {
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  margin: 0 auto;
}

.lead__subtitle {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  margin: 40px auto 0;
}

.lead__image {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  margin: 68px auto 0;
}
